body {
    margin: 0;
    font-family: Georgia, serif;
    background-color: #ffffff;
}

header {
    background-color: #9ebb98;
    padding: 20px;
    text-align: center;
    color: #111;
}

.perfil-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 20px;
    gap: 40px;
    flex-wrap: wrap;
    padding-top: 50px;
}

.imagem img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    background-color: #e0e0e0;
    position: relative;
    right: 500px;
    
}

.info {
    text-align: left;
    font-size: 18px;
}

.info p {
    margin: 10px 0;
}

.botao-resumo {
    margin-top: 20px;
    padding: 150px 300px;
    background-color: #c0d198;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
    font-size: 25px;  
}
#matheus {
    text-align: center;
    position: relative;
    bottom: 300px;
    right: 300px;
}
#theteus {
    text-align: right;
    position: relative;
    bottom: 300px;
    left: 250px;
    
}

