body {
  background: #fff;
  margin: 0;
  padding: 0;
  text-align: center;
  cursor: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg'><text y='16'>⭐</text></svg>") 8 8, auto;
}

.cabecalho {
  background-color: #a5b78b;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  position: relative;
}

.logo {
  position: absolute;
  position: fixed;
  left: 20px;
}

.logo-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.titulo {
  font-size: 80px;
  margin: 0;
  font-family: 'Georgia', serif;
}

.menu {
  display: flex;
  justify-content: center;
  background-color: #d9d0b0;
  border-radius: 50px;
  overflow: hidden;
  margin-top: 5px;
}
.item {
  padding: 15px 25px;
  font-weight: bold;
  color: #333;
  flex: 1;
  text-align: center;
}

a {
  text-decoration: none;
  padding: 15px 25px;
  font-weight: bold;
  color: #333;
  
}

.item.centro {
  background-color: #c0d198;
  font-family:'Dancing Scrip';
  font-size: 40px;
  font-weight: normal;
  
}

.frase {
  background-color: #c0d198;
  margin: 20px auto;
  padding: 8px 20px;
  width: fit-content;
  border-radius: 20px;
  font-size: 18px;
  font-weight: 500;
}


video {
  width: 90%;
  height: auto;
  display: block;
  border-radius: 20px;
  margin: 0 auto;
}

.frase-emotiva {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: black;
  font-size: 13px;
  font-family: 'courier';
  padding: 5px 10px;
  border-radius: 5px;
}

img {
  border-radius: 10px;
}
footer {
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    background-color: rgb(79, 109, 71);
    font-style: italic;
  }
  
  #insta{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #e0e0e0;
    text-align:end;
    text-decoration: underline;
  }

  #celta{
font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #e0e0e0;
    text-align:end;
    text-decoration: underline;
  }
  
 