body {
    margin: 0;
    font-family: Georgia, serif;
    background-color: #ffffff;
}

header {
    background-color: #9ebb98;
    padding: 20px;
    text-align: center;
    color: #111;
}

.perfil-container {
    display: flex;
    align-items: flex-start;
    padding: 40px;
    gap: 40px;
}

.imagem {
    flex-shrink: 0;
}

.imagem img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    background-color: #e0e0e0;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.info {
    flex: 1;
    font-size: 18px;
    text-align: center;
}

.info p {
    margin: 10px 0;
}

.botao-resumo {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #c0d198;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
    font-size: 20px;
    border-radius: 8px;
}



footer {
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    background-color: rgb(79, 109, 71);
    font-style: italic;
    color: white;
}


 

   
