body {
    margin: 0;
    font-family: Georgia, serif;
    background-color: #ffffff;
}


header {
    background-color: #9ebb98;
    padding: 20px;
    text-align: center;
    color: #111;
    font-family: 'Franklin Gothic Medium', Arial, sans-serif;
}


.perfil-container {
    display: flex;
    flex-direction: column; 
    align-items: center;   
    padding: 40px 20px;
    gap: 20px;
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
}


.imagem img {
    width: 250px;
    height: 250px;
    border-radius: 70%;
    object-fit: cover;
    background-color: #e0e0e0;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}


.info{
    font-family: 'Courier New', monospace;
    font-size: 18px;
    max-width: 6000px;
}

.botao-resumo {
    padding: 150px 100px; 
    background-color: #c0d198;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
    font-size: 25px;
    text-align: center;
    margin: 0 auto;   
    max-width: 90vw;  
    width: 1000px;      
}


footer {
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    background-color: rgb(79, 109, 71);
    font-style: italic;
    color: rgb(0, 0, 0);
}


#insta, #celta {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #e0e0e0;
    display: block;
    margin-top: 5px;
}


img {
    border-radius: 05%;
}